Temp/
UserSettings/
Library/
Logs/
metaquestobstacledetection_BurstDebugInformation_DoNotShip/
passthroughcamera_BurstDebugInformation_DoNotShip/
ProjectSettings/
TestAPK/
obj/
Build/
.vs/
.vsconfig
*.csproj
*.sln
/.utmp
*.zip
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
StreamingAssets*
!NativeSamples.zip
